<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div dir="rtl" class="page-wrapper" style="font-family: Bykan;">
        <!-- nav bar -->
        <nav class="nav">
            <div class="mobileNav hidden">
                <i id="myNavBtn" class="fa fa-bars"></i>
                <a>LOGO</a>
            </div>
            <div id="desktopNav" class="navbar">
                <a asp-controller="Home" asp-action="Index" class="atext">خانه</a>
                <a class="atext" asp-controller="Product" asp-action="ProductPaginationPageNavbar">محصولات</a>

                @if (Context.User.Identity.IsAuthenticated)
                {
                    <a class="atext" asp-controller="Profile" asp-action="Index">پروفایل</a>
                    <form method="post" asp-controller="Authentication" asp-action="SignOut">
                        <button type="submit" class="atext">خروج</button>
                    </form>
                }

                else
                {
                    <a class="atext" asp-controller="Authentication" asp-action="Login">ثبت نام/ورود</a>
                }
                <a asp-controller="Home" asp-action="AboutUs" class="atext">درباره با ما</a>
                <a asp-controller="ShoppingCart" asp-action="Basket" class="atext">سبد خرید</a>


            </div>
        </nav>


        <main class="page-content" style="padding-top:8px;padding-bottom:8px">
            @RenderBody()
        </main>


        <!-- footer -->
        <footer>
            <div class="about-us">
                <h3>درباره ما</h3>
                <p>ما یک شرکت متعهد به ارائه خدمات با کیفیت بالا به مشتریان خود هستیم.</p>
            </div>
            <div class="important-links">
                <h3>لینک‌های مهم</h3>
                <ul>
                    <a asp-controller="Home" asp-action="Index" class="atext">خانه</a>
                    <a class="atext" asp-controller="Product" asp-action="ProductPaginationPageNavbar">محصولات</a>
                    <a asp-controller="Home" asp-action="AboutUs" class="atext">درباره با ما</a>
                </ul>
            </div>
            <div class="social-icons">
                <h3>ما را دنبال کنید</h3>
                <div class="icons">
                    <a href="#"><img src="~/asstes/img/8726504_telegram_icon.svg" alt="telegram"></a>
                    <a href="#"><img src="~/asstes/img/1298747_instagram_brand_logo_social media_icon.svg" alt="Twitter"></a>
                    <a href="#"><img src="~/asstes/img/294709_circle_twitter_icon.svg " alt="Instagram"></a>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
