<div class="bg-white py-5">
    <div class="container">
        <div class="row text-center g-4">

            <div class="col-6 col-md-4  mx-auto">
                <div class="h-100 p-3 hover-scale card-relative">
                    <div class="mb-3">
                        <img class="imginfo" src="~/asstes/img/1.jpg" alt="خرید معتبر" />
                    </div>
                    <h5 class="overlay-text">خرید معتبر</h5>
                </div>
            </div>

            <div class="col-6 col-md-4  mx-auto">
                <div class="h-100 p-3 hover-scale card-relative">
                    <div class="mb-3">
                        <img class="imginfo" src="~/asstes/img/3.jpg" alt="خرید لذت بخش" />
                    </div>
                    <h5 class="overlay-text">خرید لذت بخش</h5>
                </div>
            </div>

            <div class="col-6 col-md-4 mx-auto">
                <div class="h-100 p-3 hover-scale card-relative">
                    <div class="mb-3">
                        <img class="imginfo" src="~/asstes/img/images.jpg" alt="خرید آسان" />
                    </div>
                    <h5 class="overlay-text">خرید آسان</h5>
                </div>
            </div>

        </div>
    </div>
</div>
