@{
    ViewData["Title"] = "درباره ما";
}
<h1 style="text-align:center;font-weight:bold;font-size:36px;margin-bottom:10px">@ViewData["Title"]</h1>

<div class="myHeader">

    <div class="headerItems">
        <h3 style="font-size:23px;font-weight:bold;margin-bottom:10px">ما کی هستیم</h3>
        <p style="color:gray;margin-bottom:10px;line-height:1.625">
            ماهان ایر که با نام هواپیمایی ماهان نیز شناخته می شود، یک شرکت هواپیمایی خصوصی است که در تهران، ایران واقع شده است. این پروازهای برنامه ریزی شده داخلی و بین المللی را انجام می دهد و کلاس های مختلف سفر از جمله تجاری و اقتصادی را ارائه می دهد. مسافران می توانند رزروها را مدیریت کنند، به صورت آنلاین بررسی کنند و از طریق خدمات خود از الزامات سفر مطلع شوند.
        </p>
        <h3 style="font-size:23px;font-weight:bold;margin-bottom:10px">ماموریت ما</h3>
        <p style="color:gray;margin-bottom:10px;line-height:1.625">
            ماهان تراول با ماهان ایر همراه است که در سال 1371 به عنوان اولین ایرلاین خصوصی در ایران تاسیس شد و خدمات مسافری و باربری را ارائه می کند. این ایرلاین تمرکز خود را بر حفظ سلامت کارکنان و مهمانان قرار می دهد و در عین حال محیطی دلپذیر و تمیز را برای مسافران تضمین می کند.
        </p>
    </div>



    <!-- Image Section -->
    <div class="headerItems">
        <img class="headImg" src="/asstes/img/AboutUs.jpg" style="width:550px;height:460px" alt="diaycode header">
    </div>





</div>
